//Primary Color
$primaryLightColor: #eee8db; // white
$primaryDarkColor: #2c3639; // Black color
$primaryButtonColor: #2e66e5; // Blue color

//Seconday colors
$secondaryLightColor: #bdc5d5; //Cloud
$secondaryDarkColor: #3f4e4f; //Slate

//Background Colors
$backgroundLightColor: #f7f8f9; //Light Grey
$backgroundDarkColor: #232940; //Graphite

//Supporting Colors
$successColor: #158463; // Green
$errorColor: #c94515; // Red
