@use "../../partials/global" as *;
@use "../../partials/colors";
@use "../../partials/mixins";
.register {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin: 2rem;
  padding: 2rem;
  text-align: center;
  width: 35vw;
  margin: 5vh auto;
  &__title {
    margin-bottom: 1rem;
  }
  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    text-align: center;
  }
  &__button {
    align-self: center;
  }
}
